[Unit]
Description=url-shortener service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/url-shortener
ExecStart=/usr/local/url-shortener/url-shortener
Restart=on-failure

[Install]
WantedBy=multi-user.target
